*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
}
#select{
  margin-right: 50px;
  align-items: center;
  background-color: burlywood;
  
}
#selected-year{
  
  color: rgb(140, 189, 85);
}